@import "~antd/dist/antd.css";

$font-size: 14px;
$border-radius: 5px;

root {
  font-size: $font-size;
}

input,
label {
  display: block;
}

.heading {
  font-size: 2rem;
  padding-bottom: 12px;
}

#appointment-form {
  padding: 20px;
  margin-top: 20px;

  .service-selector,
  .field {
    margin: 12px 0;
  }

  .title {
    font-size: 2rem;
  }

  .form {
    margin-top: 20px;
  }
}
